// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb {
  width: 100%;
}

.hidden-image-input {
  opacity: 0;
  position: relative;
  text-align: right;
  -moz-opacity:0 ;
  filter:alpha(opacity= 0);
  z-index: 2;
}

.index-card-image img {
  object-fit: cover !important;
  max-height: 200px;
  &:hover {
    filter: brightness(70%);
  }
}

.index-add {
  margin-top: 2.1rem;
}

.category {
  font-size: 0.75em;
  font-weight: 300;
}
